@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <!-- <h3 class="box-title">Quick Example</h3> -->
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" id="" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control">
                                <option value="please add status">please add status</option>
                                <option>dev</option>
                                <option>sale</option>
                                <option>admin 3</option>


                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">

                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit2" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <div class="container-fluid text-center " style="margin-top:10px;">
                @*   <h2>Insert</h2>  *@

                <input id="fname" class="form-control " type="text" placeholder="First Name">
                <input id="lname" class="form-control " type="text" placeholder="Last Name" style="margin-top:10px;">
                <button id="submit" class="btn btn-success " style="margin-top:10px;">submit</button>

            </div>
    </section>

            <script>

    $("#submit").click(function () {
        var fname = $("#fname").val();
        var lname = $("#lname").val();

        $.ajax({
            url: "/Home/saveName",
            data: {
                fname: fname,
                lname: lname
            },
            type: "POST",
            success: function (data) {
                alert("Success");
                window.location.href = "/Home/SelectStudent";

                // เคลียร์ค่าใน input fields หลังจากเพิ่มข้อมูลเสร็จสมบูรณ์
                $("#fname").val("");
                $("#lname").val("");
            },
            error: function (error) {
                console.error(error);
            }
        });
    });

 </script>